.IssuesPage {
    padding: 24px;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.createButton {
    width: 100%;
    display: flex;
    justify-content: end;
}
